
body {background-color: #F1F6F5; } 
            
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
    width: 8%
  }
h1 {
    color:#ADA2FF;
}            
            
h2 {
    color:#ADA2FF
}

h3 {
    color:#ADA2FF
}
